html,
body {
  padding: 0;
  margin: 0;
  background: #F7F8F9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

:root {
  --red: #E52E4D;
  --blue: #5429CC;
  --green: #33CC95;
  --blue-light: #6933FF;

  --text-title: #363F5F;
  --text-body: #969CB3;

  --background: #f8f2f5;
  --shape: #FFFFFF;
}

button {
  cursor: pointer;
}