.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between */
}

.modal-overLay {
  background: #000000af;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  width: 787px;
  height: 787px;
  background: #FFFFFF;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 34px;
  padding-bottom: 60px;
}

.modal-title {
  left: calc(50% - 125px/2 + 1px);
  top: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #BDBDBD;
}