.title {
  position: absolute;
  width: 138px;
  height: 48px;
  left: 173px;
  top: 95px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  /* Grey/G800 */
  color: #424242;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 507px;
  padding: 16px;
  margin-right: 20px;
  right: 0;
  top: 90px;

  background: #FFFFFF;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card h1 {
  font-weight: 700;
  font-size: 28px;
  text-align: right;
  color: #424242;
}

.cardInfo {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: space-between;
}

.pedente {
  color: #E87779;
}

.disponivel {
  color: #00AD17;
}