.modal-title {
  font-size: 16px;
  color: var(--modalTitle);
}

.control {

  // margin-bottom: 0.5rem;
  width: 100%;

  label,
  select,
  .NumberFormat {
    display: block;
    margin-bottom: 0.6rem;
    color: #757575;
  }

  input,
  select,
  textarea {
    box-sizing: border-box;
    padding: 8px 16px;
    width: 100%;
    height: 48px;
    border: 1px solid var(--contornos);
    border-radius: 8px;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  justify-content: center;
  gap: 2rem;
  position: relative;

  width: 100%;

  // margin-bottom: 20px;

  button {
    width: 50%;
    height: 60px;
  }

  .voltar {
    background: var(--whiteBackgound);
    color: var(--orange);
    border: 1px solid var(--orange);

    &:hover {
      background: var(--orangehover);
      color: var(--whiteBackgound);
      border: none
    }
  }
}