.container {
  padding: 40px;
  gap: 40px;

  position: absolute;
  width: 85%;
  // height: 800px;
  bottom: 20px;
  right: 20px;

  top: 206px;
  background: var(--whiteBackgound);
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.top-itens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .pesquisa {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .inputSearch {
      // box-sizing: border-box;
      display: flex;
      flex-direction: row;

      padding: 8px 8px;
      width: 240px;
      height: 48px;

      border: 1px solid var(--contornos);
      border-radius: 8px;

      input {
        padding-left: 10px;
        border: none;
        // display: none;
        -webkit-appearance: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  button {
    padding: 8px 16px;
    height: 48px;
    width: 170px;

    right: 0px;
    top: 0px;

    // order: 2;
  }
}

.pages {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100%;
  height: 56px;

  position: absolute;
  bottom: 10px;
  right: 10px;

  .Image {
    cursor: pointer;

    &:hover {
      background: #6ca9ffa0;
    }

    border-radius: 20px;
  }

  button {
    width: 48px;
    height: 56px;
    font-weight: 400;

    color: #1F4883;
    background: white;

    &:hover {
      color: white;
      background: #6ca9ffa0;
    }

    &.selected {
      color: white;
      background: #1F4883;

      &:hover {
        color: white;
        background: #6ca9ffa0;
      }
    }
  }
}