.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.table {
  top: 15px;
  position: relative;
  color: #424242;

  table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;

    font-weight: 400;

    .Image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        border: black 1px solid;
        // background: #50fa7b;
      }

      border-radius: 20px;
    }

    thead {
      tr {
        th {
          padding: .625em;
          font-weight: 400;
          border-bottom: 1px solid var(--orange);
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--contornos);
        padding: .35em;

        td {
          padding: .625em;
          text-align: left;
        }
      }
    }
  }
}

.tagColored {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;

  width: 140px;
  // height: 34px;

  background: #FFEFC5;
  // color: #B78811;
  color: var(--fontBlack);
  border-radius: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

}